.container {
}
.bodyContainer {
  display: flex;
}
.quizContainer {
  width: 50%;
}
.barGraphContainer {
  width: 50%;
}
.title {
  text-align: center;
  color: #444;
  font-weight: 400;
  font-size: 2rem;
}
.btnHandler {
  margin: 16px 0px 8px 8px;
}
.btnHandler > button {
  border: 1px solid #ebebeb;
  background-color: #fff;
  padding: 6px;
  width: 50%;
  border-radius: 4px;
}
.btnHandler > button:hover {
  border-color: aqua;
}
